.venv/
.env
__pycache__/
*.pyc

uploads/
downloads/
downloades/

*.wav
*.mp3
*.m4a
*.mp4
*.webm

.chroma/
chroma_db/

.vscode/
.idea/


frontend/node_modules/
.agents/
.claude/
vector_db/


frontend/dist/
dist/
